body {
  font-size: 16px;
  color: #ccc;
  background-color: white;
  font-family: sans-serif;
}
#header-nav{
	background-color: gray;
	background-radius:0;
	border:0;
}
.navbar-brand{
	margin-top: 25px;
	padding-top :25px;
}

.navbar-brand h1{
	font-family: serif;
	color:black;
	font-size:2.5em;
	text-transform: uppercase;;
	font-weight: bold;
	text-shadow:1px 1px 1px #222;
	margin-top:0;
	margin-bottom: 0;
	line-height:.75;
	margin-top: -15px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid white;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: 30px;
}
#nav-list{
	margin: 10px;
}
#nav-list a{
	text-align: center;
  	color: black;
  	text-align: center;
  	font-size: 1.2em;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#collapsable-nav{
	width:100%;
	max-height: auto;

}
#page-title{
	color:black;
	font-weight: bold;
	height: 100%;
}
.row{
	background-color: white;
}

.section-text{
	position: relative;
	 overflow: auto;
	 padding:20px;
	 border:2px solid black;
	 width:100%;
	 background-color: gray;
	 font-family:sans-serif;
	 margin-top: 20px auto 10px;


}
.section-text p{
	font-size: 1em;
	
	padding: 10px;
}
.section-head{
	position: absolute;
	top:0;
	right:0;
	color:black;
	background-color:white;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	margin: 0px;
	font-size: 1em;
	font-weight: bold;



}
hr{
	width:80%;
}