*{
	box-sizing:border-box;
}
body{
	background-color: #E6E6FA;

}
h1{
	text-align: center;
	font-size:175%;
	font-weight:bold;
	margin:100px;
	font-family: "Times New Roman", Times, serif;
}
section{
	position:relative;
	padding:15px;
	width:100%;
}
p{
	position: relative;
	clear:right;
}
	div {
		position: relative;
		background-color: gray;
		border: 1px solid black;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
}
#title1{
	float: right;
		width: 100px;
		padding: 5px;
		margin: 0px;
		border: 1px solid black;
		text-align: center;
		font-size: 125%;
		font-weight: bold;
		background-color: #DA70D6;
}
#title2{
		float: right;
		color: white;
		width: 100px;
		padding: 5px;
		margin: 0px;
		border: 1px solid black;
		text-align: center;
		font-size: 125%;
		font-weight: bold;
		background-color: #E9967A	;
		
	}
	#title3 {
		color: black;
		float: right;
		width: 100px;
		padding: 5px;
		margin: 0px;
		border: 1px solid black;
		text-align: center;
		font-size: 125%;
		font-weight: bold;
		background-color: #EEE8AA;
		
	
	}
	.content{
		padding: 5px;
		border: none;
		background-color: gray;
		font-family:"Times New Roman", Times, serif;
		color: black;
		margin: 0px;
		height: 200px;
		overflow:auto;

	}
/*desktop view */
	@media(min-width:992px){
		.col-lg-4{
			float:left;
			width:33.3%;
		}
	}

/*tablet view*/
@media(min-width: 768px) and (max-width: 991px){

	.col-md-6{
		float: left;
		width:50%;
		margin-left: auto;
		margin-right:auto;
	}
	.col-md-12{
		float: left;
		width:100%;
		margin-left: auto;
		margin-right:auto;
}
}
/*mobile version*/
	@media (max-width: 767px){
		.col-sm-12 {
			float: left;
			width: 100%;
		}
	}